@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 50px;
  margin: 0 0 15px 0;
  font-weight: 700;
}

p {
  font-size: 20px;
}

#header {
  display: flex;
  margin: 0px;
}

#header .logo {
  width: 60px;
  height: auto;
}

#header .nav_links {
  display: flex;
  width: 100vw;
  text-decoration: none;
  list-style: none;
  background-color: black;
}

#header .nav_links a {
  text-decoration: none;
  color: white;
}

#header .nav_links li {
  padding: 20px;
}

#header .nav_links li:hover {
  background-color: blue;
}

@media (max-width: 768px) {
  body h1 {
    font-size: 32px;
  }
  body p {
    font-size: 20px;
  }
  body .hero {
    flex-direction: column;
    height: auto;
  }
  body .hero .hero-description, body .hero .video {
    margin: 25px 20px;
  }
  body .hero .hero-description video, body .hero .video video {
    width: 100%;
  }
  body #project_des {
    height: auto;
  }
  .container, #Head-product {
    flex-direction: column;
  }
  #Head-product .videoiframe {
    height: 50%;
  }
}

#Head-product {
  display: flex;
  margin: 30px;
  margin-left: 0px;
  height: 100vh;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
}

#Head-product .description p {
  padding-bottom: 30px;
}

#Head-product .videoiframe {
  position: relative;
  width: 100%;
  height: 60%;
}

#Head-product .videoiframe iframe {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
}

#products {
  background: #06020c;
}

#products h1 {
  margin-left: 50px;
  padding-top: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/NightSkyBanner.jpg);
  padding: 40px;
  margin-top: 40px;
}

.snip1418 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #ffffff;
  text-align: left;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  transform: translateZ(0);
  perspective: 20em;
}

.snip1418 * {
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.snip1418 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1418 .add-to-cart {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0;
  background-color: #409ad5;
  transform: rotateX(-90deg);
  transform-origin: 100% 0;
}

.snip1418 .add-to-cart i {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #164666;
  color: #ffffff;
  font-size: 1.4em;
}

.snip1418 figcaption {
  padding: 20px;
}

.snip1418 h3,
.snip1418 p {
  margin: 0;
}

.snip1418 h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.snip1418 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
}

.snip1418 .price {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 48px;
  letter-spacing: 1px;
}

.snip1418 .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}

.snip1418 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1418:hover .add-to-cart,
.snip1418.hover .add-to-cart {
  opacity: 1;
  transform: rotateX(0deg);
}

.snip1418:hover .add-to-cart i,
.snip1418.hover .add-to-cart i {
  background-color: #2980b9;
}
/*# sourceMappingURL=service_style.css.map */