#header {
    display: flex;
    margin: 0px;

    .logo {
        width: 60px;
        height: auto;
    }

    .nav_links {
        display: flex;
        width: 100vw;
        text-decoration: none;
        list-style: none;
        background-color: black;

        a{
            text-decoration: none;
            color: white;

        }
        li {
            padding: 20px;

            &:hover {
                background-color: blue;
            }
            
        }
    }
}

.hero {
    display: flex;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/149370.jpg);
    background-size: cover;
    color: white;
    align-items: center;
    justify-content:center;

    h1 {
        font-size: 50px;
        font-weight: 700;
    }
    p {
        font-size: 25px;
    }

    .hero-description, .video {
        margin: 120px;
    }
}