@media (max-width: 768px) {
    body {
        h1{font-size: 32px;}
        p{font-size: 20px;}

        .hero {
            flex-direction: column;
            height: auto;

            .hero-description, .video {
                margin: 25px 20px;
        
                video{
                    width: 100%;
                }
            }
        }
        #project_des {
            height: auto;
        }
    }

}